

body {
  background-color: #0d0d0d;
  color: #ffffff;
  font-family: 'CPMono Bold', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: #ffffff;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

button {
  background-color: #FF007A;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'CPMono', sans-serif;
}

button:hover {
  background-color: #96446e;
}

a {
  color: #1A73E8;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

.header {
  background-color: #0b0b0b;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: #FF007A;
  text-transform: uppercase;
  margin-right: 20px;
  font-size: 14px;
}

.header a:hover {
  color: #ffffff;
}

.header button {
  background-color: #ff007a;
}

.header button:hover {
  background-color: #ff4d9e;
}
